@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Koulen&family=Lato:wght@300;400&family=Roboto+Mono:wght@200&family=Roboto:wght@300;400&display=swap");
/*RESETEO*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*--Header--*/
header .navbar {
  background: linear-gradient(161deg, black 30%, #191717 60%, black 80%);
  padding: 10px; }
  header .navbar .container-fluid .navbar-brand img {
    width: 130px;
    height: 100px;
    transition: 2s; }
    header .navbar .container-fluid .navbar-brand img:hover {
      transform: scale(1.2); }
  header .navbar .container-fluid #navbarNav a {
    color: white;
    font-size: 22px;
    transition: 1.5s; }
    header .navbar .container-fluid #navbarNav a:hover {
      color: #555555; }
  header .navbar .container-fluid #navbarNav .nav-item img {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 3px;
    border: 5px; }

header nav .segundo-nav {
  height: 100%;
  padding: 5px;
  background: linear-gradient(161deg, black 9%, #191717 43%, black 67%); }

main .hero, main .menu1, main .menu2, main .menu3, main .grid-container4 .main-ayuda .menu4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }

main .grid-container .tarjetas .productos, main .grid-container2 .card2 .productos, main .grid-container3 .card4 .productos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

/*INDEX*/
main .hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/banner-3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white; }
  main .hero h1 {
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 15px;
    line-height: 100px;
    color: white; }
  main .hero h2 {
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 10px;
    line-height: 100px;
    color: white; }
  main .hero a {
    text-decoration: none;
    color: white;
    font-style: initial;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    transition: 1s; }
    main .hero a:hover {
      background-color: rgba(19, 47, 19, 0.697);
      color: black; }

main .marcas {
  background-color: gainsboro;
  padding: 1px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  main .marcas img {
    width: 182px;
    height: 80px;
    padding: 8px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.47); }
  main .marcas a {
    text-decoration: none; }

main .loMasBuscado {
  text-align: center;
  padding: 10px;
  background-color: gainsboro;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  main .loMasBuscado h2 {
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 5px;
    line-height: 50px;
    color: black; }
  main .loMasBuscado a {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    font-weight: 600;
    padding: 10px; }
    main .loMasBuscado a:hover {
      text-decoration: overline; }

main .publicidad {
  background-color: black;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  main .publicidad iframe {
    width: 640px;
    height: 400px; }
  main .publicidad div {
    color: white;
    width: 45%;
    font-size: 20px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; }

main .grid-container-ofertas {
  border: solid 2px white;
  margin: 15px;
  display: grid;
  grid-template-columns: 0.5fr repeat(4, 1fr);
  grid-template-rows: 400px; }
  main .grid-container-ofertas .seccion-ofertas {
    grid-column: 1/6;
    display: flex;
    align-items: center; }
    main .grid-container-ofertas .seccion-ofertas .primer-item img {
      width: 150px;
      height: 400px;
      border-radius: 15px;
      box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.58);
      -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.58);
      transition: 1.5s; }
      main .grid-container-ofertas .seccion-ofertas .primer-item img:hover {
        transform: scale(1.05); }
    main .grid-container-ofertas .seccion-ofertas .primer-item a {
      text-decoration: none; }
    main .grid-container-ofertas .seccion-ofertas .grid-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      main .grid-container-ofertas .seccion-ofertas .grid-items div {
        display: grid;
        width: 250px;
        height: 400px;
        border: 1px solid lightsteelblue;
        margin: 10px 10px 15px 20px;
        text-align: center;
        border-radius: 15px;
        background-color: gainsboro;
        box-shadow: 10px 8px 5px -3px rgba(0, 0, 0, 0.61);
        -webkit-box-shadow: 10px 8px 5px -3px rgba(0, 0, 0, 0.61);
        -moz-box-shadow: 10px 8px 5px -3px rgba(0, 0, 0, 0.61); }
        main .grid-container-ofertas .seccion-ofertas .grid-items div img {
          width: 100%;
          height: 100%;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px; }
        main .grid-container-ofertas .seccion-ofertas .grid-items div h3 {
          font-size: 16px;
          font-weight: 600;
          font-family: 'Koulen', cursive;
          margin: 6px; }
        main .grid-container-ofertas .seccion-ofertas .grid-items div p {
          font-size: 16px;
          font-weight: 600;
          font-family: 'Koulen', cursive;
          margin-bottom: 10px; }
        main .grid-container-ofertas .seccion-ofertas .grid-items div a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-size: 20px;
          color: white;
          background-color: black;
          padding: 1px;
          text-align: center;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px; }

main section div .carousel-inner img {
  width: 100%;
  height: 400px; }

/*-----INDUMENTARIA-----*/
main .menu1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner-nike.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; }
  main .menu1 h1 {
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 15px;
    line-height: 80px;
    color: white; }
  main .menu1 h2 {
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 10px;
    line-height: 80px;
    color: white; }

main section div .uno img {
  width: 100%;
  height: 250px;
  margin-top: 2px;
  border: 2px solid black; }

main .indumentaria h2 {
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Koulen', cursive;
  text-align: center;
  letter-spacing: 5px;
  color: black; }

main .grid-container {
  display: grid;
  grid-template-columns: 1fr repeat(3, 1.5fr);
  grid-template-rows: auto; }
  main .grid-container .tarjetas {
    grid-column: 1/5;
    display: flex; }
    main .grid-container .tarjetas .accordion-item h2 {
      font-size: 30px;
      font-family: 'Koulen', cursive;
      text-align: center;
      color: black; }
    main .grid-container .tarjetas .accordion-item .accordion-button {
      font-size: 20px;
      font-family: 'Koulen', cursive; }
    main .grid-container .tarjetas .accordion-item .accordion-body {
      font-size: 15px;
      font-family: 'Koulen', cursive; }
    main .grid-container .tarjetas .productos {
      gap: 40px; }
      main .grid-container .tarjetas .productos div {
        width: 250px;
        height: 360px;
        letter-spacing: normal;
        border: 1px solid lightsteelblue;
        margin: 20px 10px 15px 20px;
        text-align: center;
        border-radius: 15px;
        box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
        background-color: gainsboro; }
        main .grid-container .tarjetas .productos div img {
          width: 100%;
          height: 250px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px; }
        main .grid-container .tarjetas .productos div h3 {
          padding: 3px;
          font-size: 16px;
          font-weight: 600;
          font-family: 'Koulen', cursive; }
        main .grid-container .tarjetas .productos div p {
          margin: 3px;
          font-size: 16px;
          font-weight: 600;
          font-family: 'Koulen', cursive; }
        main .grid-container .tarjetas .productos div a {
          text-decoration: none;
          background-color: black;
          border-radius: 8px;
          color: white; }

main .publicidades {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  border: 3px solid rgba(45, 45, 158, 0.894); }
  main .publicidades iframe {
    width: 500px;
    height: 260px; }
  main .publicidades div {
    color: white;
    width: 50%;
    font-size: 25px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center; }

/*---ACCESORIOS---*/
main .menu2 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; }
  main .menu2 h1 {
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 15px;
    line-height: 80px;
    color: white; }
  main .menu2 h2 {
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 10px;
    line-height: 80px;
    color: white; }

main .accesorios h2 {
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Koulen', cursive;
  text-align: center;
  letter-spacing: 5px;
  line-height: 50px;
  color: black; }

main .grid-container2 {
  display: grid;
  grid-template-columns: 0.75fr repeat(3, 1.5fr);
  grid-template-rows: auto; }
  main .grid-container2 .card2 {
    display: flex;
    grid-column: 1 / 5; }
    main .grid-container2 .card2 .accordion-item h2 {
      font-size: 30px;
      font-family: 'Koulen', cursive;
      text-align: center;
      color: black; }
    main .grid-container2 .card2 .accordion-item .accordion-button {
      font-size: 20px;
      font-family: 'Koulen', cursive; }
    main .grid-container2 .card2 .accordion-item .accordion-body {
      font-size: 15px;
      font-family: 'Koulen', cursive; }
    main .grid-container2 .card2 .productos {
      gap: 40px; }
      main .grid-container2 .card2 .productos div {
        width: 250px;
        height: 360px;
        letter-spacing: normal;
        border: 1px solid lightsteelblue;
        margin: 20px 10px 15px 20px;
        text-align: center;
        border-radius: 15px;
        box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
        background-color: gainsboro; }
        main .grid-container2 .card2 .productos div img {
          width: 100%;
          height: 250px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px; }
        main .grid-container2 .card2 .productos div h3 {
          padding: 3px;
          font-size: 16px;
          font-weight: 600;
          font-family: 'Koulen', cursive; }
        main .grid-container2 .card2 .productos div p {
          margin: 3px;
          font-size: 16px;
          font-weight: 600;
          font-family: 'Koulen', cursive; }
        main .grid-container2 .card2 .productos div a {
          text-decoration: none;
          background-color: black;
          border-radius: 8px;
          color: white; }
  main .grid-container2 .card3 {
    grid-column: 2 / 5; }
    main .grid-container2 .card3 .productos3 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 40px 11%; }
      main .grid-container2 .card3 .productos3 div {
        width: 250px;
        height: 360px;
        letter-spacing: normal;
        border: 1px solid lightsteelblue;
        margin: 20px 10px 15px 20px;
        text-align: center;
        border-radius: 15px;
        background-color: gainsboro;
        box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75); }
        main .grid-container2 .card3 .productos3 div img {
          width: 100%;
          height: 250px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px; }
        main .grid-container2 .card3 .productos3 div h3 {
          padding: 3px;
          font-size: 16px;
          font-weight: 600;
          font-family: 'Koulen', cursive; }
        main .grid-container2 .card3 .productos3 div p {
          margin: 3px;
          font-size: 16px;
          font-weight: 600;
          font-family: 'Koulen', cursive; }
        main .grid-container2 .card3 .productos3 div a {
          text-decoration: none;
          background-color: black;
          border-radius: 8px;
          color: white; }

main section .publicidades {
  grid-column: 1 / 5;
  margin-top: 15px; }

/*--MARCAS--*/
main .menu3 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/canchafutbol.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; }
  main .menu3 h1 {
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 15px;
    line-height: 80px;
    color: white; }
  main .menu3 h2 {
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 10px;
    line-height: 80px;
    color: white; }

main .marca h2 {
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Koulen', cursive;
  text-align: center;
  letter-spacing: 5px;
  line-height: 50px;
  color: black; }

main .grid-container3 {
  display: grid;
  grid-template-columns: 1fr repeat(3, 1.5fr);
  grid-template-rows: auto; }
  main .grid-container3 .card4 {
    grid-column: 1/5;
    display: flex; }
    main .grid-container3 .card4 .accordion-item h2 {
      font-size: 30px;
      font-family: 'Koulen', cursive;
      text-align: center;
      color: black; }
    main .grid-container3 .card4 .accordion-item .accordion-button {
      font-size: 20px;
      font-family: 'Koulen', cursive; }
    main .grid-container3 .card4 .accordion-item .accordion-body {
      font-size: 15px;
      font-family: 'Koulen', cursive; }
    main .grid-container3 .card4 .productos {
      gap: 40px; }
      main .grid-container3 .card4 .productos div {
        width: 250px;
        height: 360px;
        letter-spacing: normal;
        border: 1px solid lightsteelblue;
        margin: 20px 10px 15px 20px;
        text-align: center;
        border-radius: 15px;
        box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
        background-color: gainsboro; }
        main .grid-container3 .card4 .productos div img {
          width: 100%;
          height: 250px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px; }
        main .grid-container3 .card4 .productos div h3 {
          padding: 3px;
          font-size: 16px;
          font-weight: 600;
          font-family: 'Koulen', cursive; }
        main .grid-container3 .card4 .productos div p {
          margin: 3px;
          font-size: 16px;
          font-weight: 600;
          font-family: 'Koulen', cursive; }
        main .grid-container3 .card4 .productos div a {
          text-decoration: none;
          background-color: black;
          border-radius: 8px;
          color: white; }

/*--AYUDA--*/
main .grid-container4 {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: auto;
  grid-area: ". main ."; }
  main .grid-container4 .main-ayuda {
    grid-area: main;
    grid-column: 2 / 3; }
    main .grid-container4 .main-ayuda .menu4 {
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 2px; }
      main .grid-container4 .main-ayuda .menu4 h1 {
        font-size: 80px;
        font-weight: 400;
        font-style: normal;
        font-family: 'Koulen', cursive;
        letter-spacing: 6px; }
      main .grid-container4 .main-ayuda .menu4 h2 {
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        font-family: 'Koulen', cursive;
        letter-spacing: 3px; }
    main .grid-container4 .main-ayuda .pagos {
      width: 100%;
      padding: 5px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      main .grid-container4 .main-ayuda .pagos h2 {
        font-size: 40px;
        font-weight: 400;
        font-style: normal;
        font-family: 'Lato', sans-serif;
        line-height: 100px; }
      main .grid-container4 .main-ayuda .pagos h3 {
        font-size: 25px;
        font-weight: 400;
        font-style: normal;
        font-family: 'Lato', sans-serif;
        line-height: 100px; }
      main .grid-container4 .main-ayuda .pagos div img {
        width: 200px;
        height: 100px;
        background-color: black;
        border: 2px double black;
        border-radius: 15px;
        padding: 15px;
        margin: 5px; }
    main .grid-container4 .main-ayuda .ventajas {
      width: 100%;
      padding: 5px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      main .grid-container4 .main-ayuda .ventajas h2 {
        font-size: 40px;
        font-weight: 400;
        font-style: normal;
        font-family: 'Lato', sans-serif;
        line-height: 100px; }
      main .grid-container4 .main-ayuda .ventajas h3 {
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-family: 'Lato', sans-serif;
        line-height: 100px; }
      main .grid-container4 .main-ayuda .ventajas img {
        width: 200px;
        height: 150px;
        padding: 25px; }
      main .grid-container4 .main-ayuda .ventajas p {
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px; }
      main .grid-container4 .main-ayuda .ventajas div p {
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px; }
    main .grid-container4 .main-ayuda .ubicacion {
      background-color: rgba(70, 70, 70, 0.182);
      width: 100%;
      padding: 30px;
      text-align: center;
      margin: 5px;
      padding: 2px; }
      main .grid-container4 .main-ayuda .ubicacion h2 {
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        font-family: 'Lato', sans-serif;
        line-height: 100px; }
      main .grid-container4 .main-ayuda .ubicacion h3 {
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-family: 'Lato', sans-serif;
        line-height: 100px; }
      main .grid-container4 .main-ayuda .ubicacion iframe {
        width: 100%;
        content: 10px; }
    main .grid-container4 .main-ayuda .opinion {
      background-color: rgba(0, 0, 0, 0.247);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      main .grid-container4 .main-ayuda .opinion div p {
        padding: 8px;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-family: 'Lato', sans-serif; }

/*---FOOTER---*/
footer {
  background: linear-gradient(161deg, black 30%, #191717 60%, black 80%);
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px; }
  footer div .Logopie {
    width: 130px;
    height: 100px; }
  footer .columna2 ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Koulen', cursive; }
  footer .columna3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    footer .columna3 img {
      width: 25px;
      height: 25px; }
    footer .columna3 div p {
      font-size: 15px;
      font-weight: 200;
      font-family: 'Koulen', cursive;
      color: white; }
  footer .columna4 img {
    width: 40px;
    height: 40px;
    transition: 1s; }
    footer .columna4 img:hover {
      transform: scale(1.2); }

/*------MEDIA QUERIES-----*/
/*RESPONSIVE Index/Grid MAX-WIDTH*/
@media screen and (max-width: 1303px) {
  main .grid-container-ofertas {
    grid-template-columns: 0.5fr repeat(3, 1fr);
    grid-template-rows: 800px; } }

@media screen and (max-width: 1312px) {
  main .grid-container-ofertas {
    grid-template-columns: 0.5fr repeat(2, 1fr); }
  main .grid-container-ofertas .seccion-ofertas .grid-items {
    justify-content: center; } }

@media screen and (max-width: 748px) {
  main .grid-container-ofertas {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; }
  main .grid-container-ofertas .seccion-ofertas {
    flex-direction: column; }
  main .grid-container-ofertas .seccion-ofertas .primer-item img {
    width: 100%;
    height: 180px;
    object-fit: contain; }
  main .grid-container-ofertas .seccion-ofertas .grid-items div {
    width: 200px;
    height: 350px; } }

@media screen and (max-width: 723px) {
  main .grid-container-ofertas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; } }

@media screen and (max-width: 593px) {
  main .grid-container-ofertas {
    grid-template-rows: auto; } }

@media screen and (max-width: 496px) {
  main .grid-container-ofertas .seccion-ofertas .grid-items div {
    width: 150px;
    height: 250px; }
  main .grid-container-ofertas .seccion-ofertas .grid-items div a {
    font-size: 10px; }
  main .grid-container-ofertas .seccion-ofertas .grid-items div h3 {
    font-size: 14px; }
  main .grid-container-ofertas .seccion-ofertas .grid-items div p {
    font-size: 14px; } }

@media screen and (max-width: 396px) {
  main .grid-container-ofertas .seccion-ofertas .grid-items div {
    width: 120px;
    height: 200px; }
  main .grid-container-ofertas .seccion-ofertas .grid-items div a {
    font-size: 9px; }
  main .grid-container-ofertas .seccion-ofertas .grid-items div h3 {
    font-size: 11px; }
  main .grid-container-ofertas .seccion-ofertas .grid-items div p {
    font-size: 11px; }
  main .grid-container-ofertas .seccion-ofertas .primer-item img {
    width: 100%;
    height: 140px;
    object-fit: contain; } }

/*RESPONSIVE Index/Header MAX-WIDTH*/
@media screen and (max-width: 991px) {
  header .navbar .container-fluid #navbarNav a {
    font-size: 20px; } }

@media screen and (max-width: 767px) {
  header .navbar .container-fluid #navbarNav a {
    text-align: center; } }

/*RESPONSIVE Index/Main MAX-WIDTH*/
@media screen and (max-width: 1183px) {
  main .publicidad div {
    text-align: center; }
  main .publicidad iframe {
    width: 500px;
    height: 350px; } }

@media screen and (max-width: 929px) {
  main .publicidad div {
    width: 100%; } }

@media screen and (max-width: 694px) {
  main .hero h1 {
    font-size: 30px; }
  main .hero h2 {
    font-size: 20px; }
  main .hero a {
    font-size: 15px; }
  main section div .carousel-inner img {
    height: 300px; }
  main .marcas img {
    width: 110px;
    height: 80px; } }

@media screen and (max-width: 500px) {
  main .hero {
    background-attachment: local; }
  main .publicidad div .p1 {
    display: none; }
  main section div .carousel-inner img {
    height: 200px; } }

@media screen and (max-width: 400px) {
  main section div .carousel-inner img {
    height: 150px; }
  main .marcas img {
    width: 80px;
    height: 60px; }
  main .hero h1 {
    font-size: 20px; }
  main .hero h2 {
    font-size: 15px; }
  main .hero a {
    font-size: 10px; } }

@media screen and (max-width: 365px) {
  main .marcas {
    justify-content: space-around; } }

/*RESPONSIVE Index/Footer MAX-WIDTH*/
@media screen and (max-width: 720px) {
  footer .columna2 ul li a {
    font-size: 22px;
    font-weight: 500px;
    font-family: 'Koulen', cursive; }
  footer .columna3 div p {
    font-size: 20px;
    font-weight: 500px;
    font-family: 'Koulen', cursive; } }

@media screen and (max-width: 510px) {
  footer .columna2 ul li a {
    font-size: 15px; }
  footer .columna3 img {
    width: 20px;
    height: 20px; }
  footer .columna3 div p {
    font-size: 15px; } }

@media screen and (max-width: 462px) {
  footer .columna2 ul li a {
    font-size: 15px; }
  footer .columna3 img {
    width: 16px;
    height: 16px; }
  footer .columna3 div p {
    font-size: 15px; }
  footer .columna4 img {
    width: 30px;
    height: 30px; } }

@media screen and (max-width: 367px) {
  footer .columna2 ul li {
    list-style-type: none;
    text-align: center; }
  footer .columna2 ul li a {
    font-size: 16px; }
  footer div .Logopie {
    width: 80px;
    height: 80px; } }

@media screen and (max-width: 383px) {
  footer {
    width: 100%;
    height: 20%; } }

/*RESPONSIVE Indumentaria/Header MAX-WIDTH*/
@media screen and (max-width: 1051px) {
  main .grid-container {
    grid-template-columns: 0.75fr repeat(2, 1.5fr);
    grid-template-rows: auto; } }

/*RESPONSIVE Indumentaria/Main MAX-WIDTH*/
@media screen and (max-width: 870px) {
  main .menu1 h1 {
    font-size: 20px; }
  main .menu1 h2 {
    font-size: 15px; } }

@media screen and (max-width: 786px) {
  main .grid-container {
    grid-template-columns: 1fr 1fr; }
  main .grid-container .tarjetas {
    display: block; }
  main .grid-container .tarjetas .accordion-item h2 {
    border: 3px solid black;
    height: 40px;
    width: 100px;
    margin-left: 43%; }
  main .publicidades {
    flex-direction: column;
    border: none; }
  main .publicidades div {
    width: 100%;
    font-size: 20px; }
  main .publicidades iframe {
    padding: 10px;
    width: 550px;
    height: 200px; }
  main .menu1 h1 {
    font-size: 30px;
    line-height: 100px;
    letter-spacing: normal; }
  main .menu1 h2 {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: normal; } }

@media screen and (max-width: 694px) {
  main section div .uno img {
    height: 200px; } }

@media screen and (max-width: 600px) {
  main .grid-container .tarjetas .accordion-item h2 {
    margin-left: 0px; }
  main .grid-container .tarjetas .productos {
    gap: 0; }
  main .grid-container .tarjetas .productos div {
    width: 180px;
    height: 280px; }
  main .grid-container .tarjetas .productos div img {
    width: 100%;
    height: 150px; }
  main .grid-container .tarjetas .productos div h3 {
    font-size: 15px; }
  main .grid-container .tarjetas .productos div p {
    font-size: 20px; }
  main .grid-container .tarjetas .productos div a {
    font-size: 15px; } }

@media screen and (max-width: 559px) {
  main .grid-container .tarjetas .productos {
    gap: 10px; }
  main .grid-container .tarjetas .productos div {
    width: 150px;
    height: 250px; }
  main .grid-container .tarjetas .productos div img {
    width: 100%;
    height: 150px; }
  main .grid-container .tarjetas .productos div h3 {
    font-size: 10px; }
  main .grid-container .tarjetas .productos div p {
    font-size: 15px; }
  main .grid-container .tarjetas .productos div a {
    font-size: 10px; }
  main .publicidades iframe {
    width: 350px;
    height: 200px; } }

@media screen and (max-width: 500px) {
  main .menu1 {
    background-attachment: local; } }

@media screen and (max-width: 400px) {
  main section div .uno img {
    height: 150px; } }

@media screen and (max-width: 369px) {
  main .grid-container .tarjetas .productos div {
    width: 120px;
    height: 230px; }
  main .grid-container .tarjetas .productos div img {
    width: 100%;
    height: 130px; }
  main .grid-container .tarjetas .productos div h3 {
    font-size: 10px; }
  main .grid-container .tarjetas .productos div p {
    font-size: 13px; }
  main .grid-container .tarjetas .productos div a {
    font-size: 8px; } }

@media screen and (max-width: 350px) {
  main .grid-container .tarjetas .accordion-item h2 {
    margin-left: 35%; } }

/*RESPONSIVE Accesorios/Main MAX-WIDTH*/
@media screen and (max-width: 1051px) {
  main .grid-container2 {
    grid-template-columns: 0.75fr repeat(2, 1.5fr);
    grid-template-rows: auto; } }

@media screen and (max-width: 870px) {
  main .menu2 h1 {
    font-size: 20px; }
  main .menu2 h2 {
    font-size: 15px; } }

@media screen and (max-width: 786px) {
  main .grid-container2 {
    grid-template-columns: 1fr 1fr; }
  main .grid-container2 .card2 .accordion-item h2 {
    border: 3px solid black;
    height: 40px;
    width: 100px;
    margin-left: 43%; }
  main .grid-container2 .card2 {
    display: block; }
  main .grid-container2 .card3 {
    grid-column: 1 / 5; }
  main .publicidades {
    flex-direction: column;
    border: none; }
  main .publicidades div {
    width: 100%;
    font-size: 20px; }
  main .publicidades iframe {
    padding: 10px;
    width: 550px;
    height: 200px; }
  main .menu2 h1 {
    font-size: 30px;
    line-height: 100px;
    letter-spacing: normal; }
  main .menu2 h2 {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: normal; }
  main .grid-container2 .card3 .productos3 {
    justify-content: space-evenly; } }

@media screen and (max-width: 629px) {
  main .grid-container2 .card3 .productos3 {
    gap: none; }
  main .grid-container2 .card3 .productos3 div {
    width: 220px;
    height: 300px; }
  main .grid-container2 .card3 .productos3 div img {
    width: 100%;
    height: 180px; }
  main .grid-container2 .card3 .productos3 div h3 {
    font-size: 16px; }
  main .grid-container2 .card3 .productos3 div p {
    font-size: 16px; }
  main .grid-container2 .card3 .productos3 div a {
    font-size: 15px;
    margin: 5px; } }

@media screen and (max-width: 600px) {
  main .grid-container2 .card2 .accordion-item h2 {
    margin-left: 0px; }
  main .grid-container .card2 .productos {
    gap: 0; }
  main .grid-container2 .card2 .productos div {
    width: 180px;
    height: 280px; }
  main .grid-container2 .card2 .productos div img {
    width: 100%;
    height: 150px; }
  main .grid-container2 .card2 .productos div h3 {
    font-size: 15px; }
  main .grid-container2 .card2 .productos div p {
    font-size: 20px; }
  main .grid-container2 .card2 .productos div a {
    font-size: 15px;
    margin: 1px;
    padding: 5px; } }

@media screen and (max-width: 561px) {
  main .grid-container .tarjetas .card2 {
    gap: 10px; }
  main .grid-container2 .card2 .productos div {
    width: 150px;
    height: 250px; }
  main .grid-container2 .card2 .productos div img {
    width: 100%;
    height: 150px; }
  main .grid-container2 .card2 .productos div h3 {
    font-size: 10px; }
  main .grid-container2 .card2 .productos div p {
    font-size: 15px; }
  main .grid-container2 .card2 .productos div a {
    font-size: 10px; }
  main .publicidades iframe {
    width: 350px;
    height: 200px; }
  main .grid-container2 .card3 .productos3 {
    gap: 15px; }
  main .grid-container2 .card3 .productos3 div {
    width: 150px;
    height: 250px; }
  main .grid-container2 .card3 .productos3 div img {
    width: 100%;
    height: 150px; }
  main .grid-container2 .card3 .productos3 div h3 {
    font-size: 10px; }
  main .grid-container2 .card3 .productos3 div p {
    font-size: 15px; }
  main .grid-container2 .card3 .productos3 div a {
    font-size: 10px;
    margin: 1px;
    padding: 5px; } }

@media screen and (max-width: 500px) {
  main .menu2 {
    background-attachment: local; } }

@media screen and (max-width: 400px) {
  main .grid-container2 .card2 .productos div {
    width: 120px;
    height: 230px; }
  main .grid-container2 .card2 .productos div img {
    width: 100%;
    height: 130px; }
  main .grid-container2 .card2 .productos div h3 {
    font-size: 13px;
    margin: 2px; }
  main .grid-container2 .card2 .productos div p {
    font-size: 15px;
    margin: 2px; }
  main .grid-container2 .card2 .productos div a {
    font-size: 10x;
    margin: 2px; }
  main .grid-container2 .card3 .productos3 div {
    width: 120px;
    height: 230px; }
  main .grid-container2 .card3 .productos3 div img {
    width: 100%;
    height: 130px; }
  main .grid-container2 .card3 .productos3 div h3 {
    font-size: 10px;
    margin: 2px; }
  main .grid-container2 .card3 .productos3 div p {
    font-size: 15px;
    margin: 2px; }
  main .grid-container2 .card3 .productos3 div a {
    font-size: 10px;
    margin: 2px; } }

@media screen and (max-width: 530px) {
  main .menu2 h1 {
    font-size: 30px; }
  main .menu2 h2 {
    font-size: 18px; } }

@media screen and (max-width: 390px) {
  main .menu2 h1 {
    font-size: 20px; }
  main .menu2 h2 {
    font-size: 15px; } }

@media screen and (max-width: 350px) {
  main .grid-container2 .card2 .accordion-item h2 {
    margin-left: 35%; } }

/*RESPONSIVE Marcas/Main MAX-WIDTH*/
@media screen and (max-width: 786px) {
  main .grid-container3 {
    grid-template-columns: 1fr 1fr; }
  main .grid-container3 .card4 {
    display: block; }
  main .grid-container3 .card4 .accordion-item h2 {
    border: 3px solid black;
    height: 40px;
    width: 100px;
    margin-left: 43%; }
  main .menu3 h1 {
    font-size: 30px;
    line-height: 100px;
    letter-spacing: normal; }
  main .menu3 h2 {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: normal; } }

@media screen and (max-width: 600px) {
  main .grid-container3 .card4 .accordion-item h2 {
    margin-left: 0px; }
  main .grid-container3 .card4 .productos {
    gap: 0; }
  main .grid-container3 .card4 .productos div {
    width: 180px;
    height: 280px; }
  main .grid-container3 .card4 .productos div img {
    width: 100%;
    height: 150px; }
  main .grid-container3 .card4 .productos div h3 {
    font-size: 15px; }
  main .grid-container3 .card4 .productos div p {
    font-size: 20px; }
  main .grid-container3 .card4 .productos div a {
    font-size: 15px;
    margin: 1px;
    padding: 5px; } }

@media screen and (max-width: 559px) {
  main .grid-container3 .card4 .productos {
    gap: 10px; }
  main .grid-container3 .card4 .productos div {
    width: 150px;
    height: 250px; }
  main .grid-container3 .card4 .productos div img {
    width: 100%;
    height: 150px; }
  main .grid-container3 .card4 .productos div h3 {
    font-size: 10px; }
  main .grid-container3 .card4 .productos div p {
    font-size: 15px; }
  main .grid-container3 .card4 .productos div a {
    font-size: 10px; } }

@media screen and (max-width: 500px) {
  main .menu3 {
    background-attachment: local; } }

@media screen and (max-width: 369px) {
  main .grid-container3 .card4 .productos div {
    width: 120px;
    height: 230px; }
  main .grid-container3 .card4 .productos div img {
    width: 100%;
    height: 130px; }
  main .grid-container3 .card4 .productos div h3 {
    font-size: 10px; }
  main .grid-container3 .card4 .productos div p {
    font-size: 13px; }
  main .grid-container3 .card4 .productos div a {
    font-size: 8px; } }

@media screen and (max-width: 350px) {
  main .grid-container3 .card4 .accordion-item h2 {
    margin-left: 35%; } }

/*RESPONSIVE Ayuda/Grid MAX-WIDTH*/
@media screen and (max-width: 1208px) {
  main .grid-container4 .main-ayuda .menu4 h1 {
    font-size: 70px;
    text-decoration: underline; }
  main .grid-container4 .main-ayuda .pagos h2 {
    font-size: 30px;
    line-height: 80px; }
  main .grid-container4 .main-ayuda .pagos h3 {
    font-size: 20px;
    line-height: 80px; }
  main .grid-container4 .main-ayuda .pagos div img {
    width: 150px;
    height: 80px; }
  main .grid-container4 .main-ayuda .ventajas h2 {
    font-size: 35px; }
  main .grid-container4 .main-ayuda .ventajas h3 {
    font-size: 20px; }
  main .grid-container4 .main-ayuda .ventajas img {
    width: 170px;
    height: 120px; }
  main .grid-container4 .main-ayuda .ventajas div p {
    font-size: 22px;
    font-weight: bold; }
  main .grid-container4 .main-ayuda .ubicacion h2 {
    font-size: 25px;
    font-weight: bold; } }

@media screen and (max-width: 928px) {
  main .grid-container4 .main-ayuda .menu4 h1 {
    font-size: 50px;
    text-decoration: underline; }
  main .grid-container4 .main-ayuda .pagos h2 {
    font-size: 25px;
    line-height: 40px; }
  main .grid-container4 .main-ayuda .pagos h3 {
    font-size: 20px;
    line-height: 30px; }
  main .grid-container4 .main-ayuda .pagos div img {
    width: 120px;
    height: 70px; }
  main .grid-container4 .main-ayuda .ventajas h2 {
    font-size: 30px;
    line-height: 70px; }
  main .grid-container4 .main-ayuda .ventajas h3 {
    font-size: 15px;
    line-height: 70px; }
  main .grid-container4 .main-ayuda .ventajas img {
    width: 110px;
    height: 110px; } }

@media screen and (max-width: 760px) {
  main .grid-container4 .main-ayuda .pagos div img {
    width: 100px;
    height: 60px; }
  main .grid-container4 .main-ayuda .ubicacion h2 {
    font-size: 20px;
    line-height: 30px; }
  main .grid-container4 .main-ayuda .ubicacion h3 {
    font-size: 18px;
    line-height: 30px; } }

@media screen and (max-width: 668px) {
  main .grid-container4 .main-ayuda .menu4 h1 {
    font-size: 40px;
    text-decoration: underline; } }

@media screen and (max-width: 584px) {
  main .grid-container4 .main-ayuda .ventajas h2 {
    line-height: 30px; }
  main .grid-container4 .main-ayuda .ventajas h3 {
    line-height: 50px; }
  main .grid-container4 .main-ayuda .ubicacion iframe {
    height: 200px; }
  main .grid-container4 .main-ayuda .opinion {
    height: 200px; } }

@media screen and (max-width: 384px) {
  main .grid-container4 .main-ayuda .ventajas h3 {
    line-height: 25px; } }

main .hero, main .menu1, main .menu2, main .menu3, main .grid-container4 .main-ayuda .menu4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }

main .grid-container .tarjetas .productos, main .grid-container2 .card2 .productos, main .grid-container3 .card4 .productos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }
