@import "../base/variables";

/*INDEX*/
/*---Main---*/
main{
    .hero{
        width: 100%;
        height: 100vh;
        background-image: url("../img/banner-3.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        color: $color-blanco;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        h1{
            font-size: 40px;
            font-weight: 200;
            font-style: normal;
            font-family: 'Alfa Slab One', cursive;
            letter-spacing: 15px;
            line-height: 100px;
            color: $color-blanco;
        }
        h2{
            font-size: 30px;
            font-weight: 100;
            font-style: normal;
            font-family: 'Alfa Slab One', cursive;
            letter-spacing: 10px;
            line-height: 100px;
            color: $color-blanco;
        }
        a{
            text-decoration: none;
            color: $color-blanco;
            font-style: initial;
            font-family: 'Roboto Mono', monospace;
            font-size: 20px;
            font-weight: 600;
            background-color: $color-negro;
            padding: 5px;
            border-radius: 5px;
            transition: 1s;
            &:hover{
                background-color: rgba(19, 47, 19, 0.697);
                color: $color-negro;
            }
        }
    }
    .marcas{
        background-color: rgba(176, 196, 222, 0.938);
        padding: 1px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        img{
            width: 182px;
            height: 80px;
            padding: 8px;
            margin: 5px;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.47);
            -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.47);
            -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.47);
        }
        a{
            text-decoration: none;
        }
    }
    .loMasBuscado{
        text-align: center;
        padding: 10px;
        background-color: $color-celeste;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        h2{
            font-size: 20px;
            font-weight: 100;
            font-style: normal;
            font-family: 'Alfa Slab One', cursive;
            letter-spacing: 5px;
            line-height: 50px;
            color: $color-negro;
        }
        a{
            text-decoration: none;
            color: $color-negro;
            font-style: normal;
            font-family: 'Alfa Slab One', cursive;
            font-size: 20px;
            font-weight: 600;
            padding: 10px;
            &:hover{
                text-decoration: overline;
            }
        }
    }
    .publicidad{
        background-color: $color-negro;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        iframe{
            width: 640px;
            height: 400px;
        }
        div{
            color: $color-blanco;
            width: 45%;
            font-size: 20px;
            font-style: normal;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
        }
    }
    .grid-container-ofertas{
        border: solid 2px white;
        margin: 15px;
        display: grid;
        grid-template-columns: 0.5fr repeat(4,1fr);    
        grid-template-rows: 400px;
        .seccion-ofertas{
            grid-column: 1/6;
            display: flex;
            align-items: center;
            .primer-item{
                img{
                    width: 150px;
                    height: 400px;
                    border-radius: 15px;
                    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.58);
                    -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.58);
                    -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.58);
                    transition: 1.5s;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
                a{
                    text-decoration: none;
                }
            }
            .grid-items{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                div{
                    display: grid;
                    width: 250px;
                    height: 400px;
                    border: 1px solid lightsteelblue;
                    margin: 10px 10px 15px 20px;
                    text-align: center;
                    border-radius: 15px;
                    background-color: gainsboro;
                    box-shadow: 10px 8px 5px -3px rgba(0,0,0,0.61);
                    -webkit-box-shadow: 10px 8px 5px -3px rgba(0,0,0,0.61);
                    -moz-box-shadow: 10px 8px 5px -3px rgba(0,0,0,0.61);
                    img{
                        width: 100%;
                        height: 100%;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                    h3{
                        font-weight: 600;
                        font-family: 'Koulen', cursive;
                        margin: 6px;
                        font-size: 17px;
                    }
                    p{
                        font-weight: 600;
                        font-family: 'Koulen', cursive;
                        margin-bottom: 10px;
                        font-size: 15px;
                    }
                    a{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        font-size: 20px;
                        color: $color-blanco;
                        background-color: black;
                        padding: 1px;
                        text-align: center;
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                    }
                }
            }
        }
    }
    section{
        div{
            .carousel-inner{
                img{
                    width: 100%;
                    height: 400px;
                }
            }
        }
    }
}


/*-----INDUMENTARIA-----*/

main{
    .menu1{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner-nike.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        h1{
            font-size: 40px;
            font-weight: 200;
            font-style: normal;
            font-family: 'Alfa Slab One', cursive;
            letter-spacing: 15px;
            line-height: 80px;
            color: white;
        }
        h2{
            font-size: 30px;
            font-weight: 100;
            font-style: normal;
            font-family: 'Alfa Slab One', cursive;
            letter-spacing: 10px;
            line-height: 80px;
            color: white;
        }
    }
    section{
        div{
            .uno{
                img{
                    width: 100%;
                    height: 250px;
                    margin-top: 2px;
                    border: 2px solid black;
                }
            }
        }
    }
    .indumentaria{
        h2{
            font-size: 45px;
            font-weight: 400;
            font-style: normal;
            font-family: 'Koulen', cursive;
            text-align: center;
            letter-spacing: 5px;
            color: black;
        }
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr repeat(3,1.5fr);
        grid-template-rows: auto;
        .tarjetas{
            grid-column: 1/5;
            display: flex;
            .accordion-item{
                h2{
                    font-size: 30px;
                    font-family: 'Koulen', cursive;
                    text-align: center;
                    color: black;
                }
                .accordion-button{
                    font-size: 20px;
                    font-family: 'Koulen', cursive;
                }
                .accordion-body{
                    font-size: 15px;
                    font-family: 'Koulen', cursive;
                }
            }
            .productos{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                gap: 40px;
                div{
                    width: 250px;
                    height: 360px;
                    letter-spacing: normal;
                    border: 1px solid lightsteelblue;
                    margin: 20px 10px 15px 20px;
                    text-align: center;
                    border-radius: 15px;
                    background-color: gainsboro;
                    box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
                    img{
                        width: 100%;
                        height: 250px;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                    h3{
                        font-size: 16px;
                        font-weight: 600;
                        font-family: 'Koulen', cursive;
                    }
                    p{
                        font-size: 18px;
                        font-weight: 600;
                        font-family: 'Koulen', cursive;
                    }
                    a{
                        text-decoration: none;
                        background-color: black;
                        padding: 5px;
                        color: white;
                    }
                }
            }
        }
    }
    .publicidad1{
        background-color: black;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
        border: 10px solid red;
        // border: 1px solid rgb(255, 255, 255);
        iframe{
            width: 500px;
            height: 260px;
        }
        div{
            color: white;
            width: 50%;
            font-size: 25px;
            font-style: normal;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
            text-align: center;
        }
    }
}