@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Koulen&family=Lato:wght@300;400&family=Roboto+Mono:wght@200&family=Roboto:wght@300;400&display=swap');

/*RESETEO*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
