/*------MEDIA QUERIES-----*/

/*RESPONSIVE Index/Grid MAX-WIDTH*/


@media screen and (max-width:1303px){
    main .grid-container-ofertas{
        grid-template-columns: 0.5fr repeat(3,1fr);
        grid-template-rows: 800px;  
    }
}


@media screen and (max-width:1312px){
    main .grid-container-ofertas{
        grid-template-columns: 0.5fr repeat(2,1fr);
    }
    main .grid-container-ofertas .seccion-ofertas .grid-items{
        justify-content: center;
    }
}


@media screen and (max-width:748px){
    main .grid-container-ofertas{
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    main .grid-container-ofertas .seccion-ofertas{
        flex-direction: column;
    }
    main .grid-container-ofertas .seccion-ofertas .primer-item img{
        width: 100%;
        height: 180px;
        object-fit:contain;
    }
    main .grid-container-ofertas .seccion-ofertas .grid-items div{
        width: 200px;
        height: 350px;
    }
}


@media screen and (max-width:723px){
    main .grid-container-ofertas{
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
        }
    }


@media screen and (max-width:593px){
    main .grid-container-ofertas{
        grid-template-rows: auto;
    }
}


@media screen and (max-width:496px){
    main .grid-container-ofertas .seccion-ofertas .grid-items div{
        width: 150px;
        height: 250px;
    }
    main .grid-container-ofertas .seccion-ofertas .grid-items div a{
        font-size: 10px;
    }
    main .grid-container-ofertas .seccion-ofertas .grid-items div h3{
        font-size: 14px;
    }
    main .grid-container-ofertas .seccion-ofertas .grid-items div p{
        font-size: 14px;
    }
}


@media screen and (max-width:396px){
    main .grid-container-ofertas .seccion-ofertas .grid-items div{
        width: 120px;
        height: 200px;
    }
    main .grid-container-ofertas .seccion-ofertas .grid-items div a{
        font-size: 9px;
    }
    main .grid-container-ofertas .seccion-ofertas .grid-items div h3{
        font-size: 11px;
    }
    main .grid-container-ofertas .seccion-ofertas .grid-items div p{
        font-size: 11px;
    }
    main .grid-container-ofertas .seccion-ofertas .primer-item img{
        width: 100%;
        height: 140px;
        object-fit:contain;
    }
}


/*RESPONSIVE Index/Header MAX-WIDTH*/


@media screen and (max-width:991px){
    header .navbar .container-fluid #navbarNav a{
        font-size: 20px;
    }
}


@media screen and (max-width:767px){
    header .navbar .container-fluid #navbarNav a{
        text-align: center;
    }
}


/*RESPONSIVE Index/Main MAX-WIDTH*/


@media screen and (max-width:1183px){
    main .publicidad div{
        text-align: center;
    }
    main .publicidad iframe{
        width: 500px;
        height: 350px;
    }
}


@media screen and (max-width:929px){
    main .publicidad div{
        width: 100%;
    }
}


@media screen and (max-width:694px){
    main .hero h1{
        font-size: 30px;
    }
    main .hero h2{
        font-size: 20px;
    }
    main .hero a{
        font-size: 15px;
    }
    main section div .carousel-inner img{
        height: 300px;
    }
    main .marcas img{
        width: 110px;
        height: 80px;
    }
}


@media screen and (max-width:500px){
    main .hero{
        background-attachment: local;
    }
    main .publicidad div .p1{
        display: none;
    }main section div .carousel-inner img{
        height: 200px;
    }
}


@media screen and (max-width:400px){
    main section div .carousel-inner img{
        height: 150px;
    }
    main .marcas img{
        width: 80px;
        height: 60px;
    }
    main .hero h1{
        font-size: 20px;
    }
    main .hero h2{
        font-size: 15px;
    }
    main .hero a{
        font-size: 10px;
    }
}


@media screen and (max-width:365px){
    main .marcas{
        justify-content: space-around;
    }
}



/*RESPONSIVE Index/Footer MAX-WIDTH*/


@media screen and (max-width:720px){
    footer .columna2 ul li a{
        font-size: 22px;
        font-weight: 500px;
        font-family: 'Koulen', cursive;
    }
    footer .columna3 div p{
        font-size: 20px;
        font-weight: 500px;
        font-family: 'Koulen', cursive;
    }
}


@media screen and (max-width:510px){
    footer .columna2 ul li a{
        font-size: 15px;
    }
    footer .columna3 img{
        width: 20px;
        height: 20px;
    }
    footer .columna3 div p{
        font-size: 15px;
    }
}


@media screen and (max-width:462px){
    footer .columna2 ul li a{
        font-size: 15px;
    }
    footer .columna3 img{
        width: 16px;
        height: 16px;
    }
    footer .columna3 div p{
        font-size: 15px;
    }
    footer .columna4 img{
        width: 30px;
        height: 30px;
    }
}


@media screen and (max-width:367px){
    footer .columna2 ul li{
        list-style-type: none;
        text-align: center;
    }
    footer .columna2 ul li a{
        font-size: 16px;
    }
    footer div .Logopie{
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width:383px){
    footer{
        width: 100%;
        height: 20%;
    }
}



/*RESPONSIVE Indumentaria/Header MAX-WIDTH*/


@media screen and (max-width:1051px){
    main .grid-container{
        grid-template-columns: 0.75fr repeat(2,1.5fr);
        grid-template-rows: auto;
    }
}


/*RESPONSIVE Indumentaria/Main MAX-WIDTH*/


@media screen and (max-width:870px){
    main .menu1 h1{
        font-size: 20px;
    }
    main .menu1 h2{
        font-size: 15px;
    }
}


@media screen and (max-width:786px){
    main .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    main .grid-container .tarjetas{
        display:block;
    }
    main .grid-container .tarjetas .accordion-item h2{
        border: 3px solid black;
        height: 40px;
        width: 100px;
        margin-left: 43%;
    }
    main .publicidades{
        flex-direction: column;
        border: none;
    }
    main .publicidades div{
        width: 100%;
        font-size: 20px;
    }
    main .publicidades iframe{
        padding: 10px;
        width: 550px;
        height: 200px;
    }
    main .menu1 h1{
        font-size: 30px;
        line-height: 100px;
        letter-spacing: normal;
    }
    main .menu1 h2{
        font-size: 20px;
        line-height: 40px;
        letter-spacing: normal;
    }
}


@media screen and (max-width:767px){
    header nav .segundo-nav{
        background: black;
    }
}


@media screen and (max-width:694px){
    main section div .uno img{
    height: 200px;
    }
}


@media screen and (max-width:600px){
    main .grid-container .tarjetas .accordion-item h2{
        margin-left:0px;
    }
    main .grid-container .tarjetas .productos{
        gap: 0;
    }
    main .grid-container .tarjetas .productos div {
        width: 180px;
        height: 280px;
    }
    
    main .grid-container .tarjetas .productos div img {
        width: 100%;
        height: 150px;
    }
    
    main .grid-container .tarjetas .productos div h3 {
        font-size: 15px;
    }
    
    main .grid-container .tarjetas .productos div p {
        font-size: 20px;
    }
    
    main .grid-container .tarjetas .productos div a {
        font-size: 15px;
    }
}


@media screen and (max-width:559px){
    main .grid-container .tarjetas .productos{
        gap: 10px;
    }
    main .grid-container .tarjetas .productos div {
        width: 150px;
        height: 250px;
    }
    
    main .grid-container .tarjetas .productos div img {
        width: 100%;
        height: 150px;
    }
    
    main .grid-container .tarjetas .productos div h3 {
        font-size: 10px;
    }
    
    main .grid-container .tarjetas .productos div p {
        font-size: 15px;
    }
    
    main .grid-container .tarjetas .productos div a {
        font-size: 10px;
    }
    main .publicidades iframe{
        width: 350px;
        height: 200px;
    }
}


@media screen and (max-width:500px){
    main .menu1{
        background-attachment: local;
    }
    header .navbar .container-fluid .navbar-brand img{
        width: 90px;
        height: 80px;
    }
    header .navbar{
        background: linear-gradient(161deg, rgba(0,0,0,1) 45%, rgba(11,11,11,1) 60%, rgba(0,0,0,1) 75%);
    }
}


@media screen and (max-width:400px){
    main section div .uno img{
    height: 150px;
    }
}


@media screen and (max-width:369px){
    main .grid-container .tarjetas .productos div {
        width: 140px;
        height: 230px;
    }
    
    main .grid-container .tarjetas .productos div img {
        width: 100%;
        height: 130px;
    }
    
    main .grid-container .tarjetas .productos div h3 {
        font-size: 10px;
    }
    
    main .grid-container .tarjetas .productos div p {
        font-size: 13px;
    }
    
    main .grid-container .tarjetas .productos div a {
        font-size: 8px;
    }
}


@media screen and (max-width:350px){
    main .grid-container .tarjetas .accordion-item h2{
        margin-left: 35%;
    }
}


/*RESPONSIVE Accesorios/Main MAX-WIDTH*/


@media screen and (max-width:1051px){
    main .grid-container2{
        grid-template-columns: 0.75fr repeat(2,1.5fr);
        grid-template-rows: auto;
    }
}

@media screen and (max-width:870px){
    main .menu2 h1{
        font-size: 20px;
    }
    main .menu2 h2{
        font-size: 15px;
    }
}


@media screen and (max-width:786px){
    main .grid-container2{
        grid-template-columns: 1fr 1fr;
    }
    main .grid-container2 .card2 .accordion-item h2{
        border: 3px solid black;
        height: 40px;
        width: 100px;
        margin-left: 43%;
    }
    main .grid-container2 .card2{
        display: block;
    }
    main .grid-container2 .card3{
        grid-column: 1 / 5;
    }
    main .publicidades{
        flex-direction: column;
        border: none;
    }
    main .publicidades div{
        width: 100%;
        font-size: 20px;
    }
    main .publicidades iframe{
        padding: 10px;
        width: 550px;
        height: 200px;
    }
    main .menu2 h1{
        font-size: 30px;
        line-height: 100px;
        letter-spacing: normal;
    }
    main .menu2 h2{
        font-size: 20px;
        line-height: 40px;
        letter-spacing: normal;
    }
    main .grid-container2 .card3 .productos3{
        justify-content: space-evenly;
    }
}


@media screen and (max-width:629px){
    main .grid-container2 .card3 .productos3{
        gap: none;
    }
    main .grid-container2 .card3 .productos3 div {
        width: 220px;
        height: 300px;
    }
    
    main .grid-container2 .card3 .productos3 div img {
        width: 100%;
        height: 180px;
    }
    
    main .grid-container2 .card3 .productos3 div h3 {
        font-size: 16px;
    }
    
    main .grid-container2 .card3 .productos3 div p {
        font-size: 16px;
    }
    
    main .grid-container2 .card3 .productos3 div a {
        font-size: 15px;
        margin: 5px;
    }
}


@media screen and (max-width:600px){
    main .grid-container2 .card2 .accordion-item h2{
        margin-left:0px;
    }
    main .grid-container .card2 .productos{
        gap: 0;
    }
    main .grid-container2 .card2 .productos div {
        width: 180px;
        height: 280px;
    }
    
    main .grid-container2 .card2 .productos div img {
        width: 100%;
        height: 150px;
    }
    
    main .grid-container2 .card2 .productos div h3 {
        font-size: 15px;
    }
    
    main .grid-container2 .card2 .productos div p {
        font-size: 20px;
    }
    
    main .grid-container2 .card2 .productos div a {
        font-size: 15px;
        margin: 1px;
        padding: 5px;
    }
}


@media screen and (max-width:561px){
    main .grid-container .tarjetas .card2{
        gap: 10px;
    }
    main .grid-container2 .card2 .productos div {
        width: 150px;
        height: 250px;
    }
    
    main .grid-container2 .card2 .productos div img {
        width: 100%;
        height: 150px;
    }
    
    main .grid-container2 .card2 .productos div h3 {
        font-size: 10px;
    }
    
    main .grid-container2 .card2 .productos div p {
        font-size: 15px;
    }
    
    main .grid-container2 .card2 .productos div a {
        font-size: 10px;
    }
    main .publicidades iframe{
        width: 350px;
        height: 200px;
    }
    main .grid-container2 .card3 .productos3{
        gap: 15px;
    }
    main .grid-container2 .card3 .productos3 div {
        width: 150px;
        height: 250px;
    }
    
    main .grid-container2 .card3 .productos3 div img {
        width: 100%;
        height: 150px;
    }
    
    main .grid-container2 .card3 .productos3 div h3 {
        font-size: 10px;
    }
    
    main .grid-container2 .card3 .productos3 div p {
        font-size: 15px;
    }
    
    main .grid-container2 .card3 .productos3 div a {
        font-size: 10px;
        margin: 1px;
        padding: 5px;
    }
}


@media screen and (max-width:500px){
    main .menu2{
        background-attachment: local;
    }
}


@media screen and (max-width:400px){
    main .grid-container2 .card2 .productos div {
        width: 120px;
        height: 230px;
    }
    
    main .grid-container2 .card2 .productos div img {
        width: 100%;
        height: 130px;
    }
    
    main .grid-container2 .card2 .productos div h3 {
        font-size: 13px;
        margin: 2px;
    }
    
    main .grid-container2 .card2 .productos div p {
        font-size: 15px;
        margin: 2px;
    }
    
    main .grid-container2 .card2 .productos div a {
        font-size: 10x;
        margin: 2px;
    }
    main .grid-container2 .card3 .productos3 div {
        width: 120px;
        height: 230px;
    }
    
    main .grid-container2 .card3 .productos3 div img {
        width: 100%;
        height: 130px;
    }
    
    main .grid-container2 .card3 .productos3 div h3 {
        font-size: 10px;
        margin: 2px;
    }
    
    main .grid-container2 .card3 .productos3 div p {
        font-size: 15px;
        margin: 2px;
    }
    
    main .grid-container2 .card3 .productos3 div a {
        font-size: 10px;
        margin: 2px;
    }
}


@media screen and (max-width:530px){
    main .menu2 h1{
        font-size: 30px;
    }
    main .menu2 h2{
        font-size: 18px;
    }
}


@media screen and (max-width:390px){
    main .menu2 h1{
        font-size: 20px;
    }
    main .menu2 h2{
        font-size: 15px;
    }
}


@media screen and (max-width:350px){
    main .grid-container2 .card2 .accordion-item h2{
        margin-left: 35%;
    }
}


/*RESPONSIVE Marcas/Main MAX-WIDTH*/


@media screen and (max-width:786px){
    main .grid-container3{
        grid-template-columns: 1fr 1fr;
    }
    main .grid-container3 .card4{
        display:block;
    }
    main .grid-container3 .card4 .accordion-item h2{
        border: 3px solid black;
        height: 40px;
        width: 100px;
        margin-left: 43%;
    }
    main .menu3 h1{
        font-size: 30px;
        line-height: 100px;
        letter-spacing: normal;
    }
    main .menu3 h2{
        font-size: 20px;
        line-height: 40px;
        letter-spacing: normal;
    }
}


@media screen and (max-width:600px){
    main .grid-container3 .card4 .accordion-item h2{
        margin-left:0px;
    }
    main .grid-container3 .card4 .productos{
        gap: 0;
    }
    main .grid-container3 .card4 .productos div {
        width: 180px;
        height: 280px;
    }
    
    main .grid-container3 .card4 .productos div img {
        width: 100%;
        height: 150px;
    }
    
    main .grid-container3 .card4 .productos div h3 {
        font-size: 15px;
    }
    
    main .grid-container3 .card4 .productos div p {
        font-size: 20px;
    }
    
    main .grid-container3 .card4 .productos div a {
        font-size: 15px;
        margin: 1px;
        padding: 5px;
    }
}


@media screen and (max-width:559px){
    main .grid-container3 .card4 .productos{
        gap: 10px;
    }
    main .grid-container3 .card4 .productos div {
        width: 150px;
        height: 250px;
    }
    
    main .grid-container3 .card4 .productos div img {
        width: 100%;
        height: 150px;
    }
    
    main .grid-container3 .card4 .productos div h3 {
        font-size: 10px;
    }
    
    main .grid-container3 .card4 .productos div p {
        font-size: 15px;
    }
    
    main .grid-container3 .card4 .productos div a {
        font-size: 10px;
    }
}


@media screen and (max-width:500px){
    main .menu3{
        background-attachment: local;
    }
}


@media screen and (max-width:369px){
    main .grid-container3 .card4 .productos div {
        width: 120px;
        height: 230px;
    }
    
    main .grid-container3 .card4 .productos div img {
        width: 100%;
        height: 130px;
    }
    
    main .grid-container3 .card4 .productos div h3 {
        font-size: 10px;
    }
    
    main .grid-container3 .card4 .productos div p {
        font-size: 13px;
    }
    
    main .grid-container3 .card4 .productos div a {
        font-size: 8px;
    }
}


@media screen and (max-width:350px){
    main .grid-container3 .card4 .accordion-item h2{
        margin-left: 35%;
    }
}



/*RESPONSIVE Ayuda/Grid MAX-WIDTH*/


@media screen and (max-width:1208px){
    main .grid-container4 .main-ayuda .menu4 h1{
        font-size: 70px;
        text-decoration: underline;
    }
    main .grid-container4 .main-ayuda .pagos h2{
        font-size: 30px;
        line-height: 80px;
    }
    main .grid-container4 .main-ayuda .pagos h3{
        font-size: 20px;
        line-height: 80px;
    }
    main .grid-container4 .main-ayuda .pagos div img{
        width: 150px;
        height: 80px;
    }
    main .grid-container4 .main-ayuda .ventajas h2{
        font-size: 35px;
    }
    main .grid-container4 .main-ayuda .ventajas h3{
        font-size: 20px;
    }
    main .grid-container4 .main-ayuda .ventajas img{
        width: 170px;
        height: 120px;
    }
    main .grid-container4 .main-ayuda .ventajas div p{
        font-size: 22px;
        font-weight: bold;
    }
    main .grid-container4 .main-ayuda .ubicacion h2{
        font-size: 25px;
        font-weight: bold;
    }
}


@media screen and (max-width:928px){
    main .grid-container4 .main-ayuda .menu4 h1{
        font-size: 50px;
        text-decoration: underline;
    }
    main .grid-container4 .main-ayuda .pagos h2{
        font-size: 25px;
        line-height: 40px;
    }
    main .grid-container4 .main-ayuda .pagos h3{
        font-size: 20px;
        line-height: 30px;
    }
    main .grid-container4 .main-ayuda .pagos div img{
        width: 120px;
        height: 70px;
    }
    main .grid-container4 .main-ayuda .ventajas h2{
        font-size: 30px;
        line-height: 70px;
    }
    main .grid-container4 .main-ayuda .ventajas h3{
        font-size: 15px;
        line-height: 70px;
    }
    main .grid-container4 .main-ayuda .ventajas img{
        width: 110px;
        height: 110px;
    }
}


@media screen and (max-width:760px){
    main .grid-container4 .main-ayuda .pagos div img{
        width: 100px;
        height: 60px;
    }
    main .grid-container4 .main-ayuda .ubicacion h2{
        font-size: 20px;
        line-height: 30px;
    }
    main .grid-container4 .main-ayuda .ubicacion h3{
        font-size: 18px;
        line-height: 30px;
    }
}


@media screen and (max-width:668px){
    main .grid-container4 .main-ayuda .menu4 h1{
        font-size: 40px;
        text-decoration: underline;
    }
}


@media screen and (max-width:584px){
    main .grid-container4 .main-ayuda .ventajas h2{
        line-height: 30px;
    }
    main .grid-container4 .main-ayuda .ventajas h3{
        line-height: 50px;
    }
    main .grid-container4 .main-ayuda .ubicacion iframe{
        height: 200px;
    }
    main .grid-container4 .main-ayuda .opinion{
        height: 200px;
    }
}


@media screen and (max-width:384px){
    main .grid-container4 .main-ayuda .ventajas h3{
        line-height: 25px;
    }
}