
// Titulos principales
$color-t-principal: white;


// Barra de navegacion
$color-nav:linear-gradient(161deg, rgba(0,0,0,1) 30%, rgba(25,23,23,1) 60%, rgba(0,0,0,1) 80%);

$color-nav2:linear-gradient(161deg, rgba(0,0,0,1) 9%, rgba(25,23,23,1) 43%, rgba(0,0,0,1) 67%);


// IFRAME
$color-iframe-bg:black;


// Tarjetas
$bg-tarjeta: gainsboro;

// INDEX LO MAS BUSCADO / MARCAS
$bg-color: lightsteelblue;